.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .footer-logo h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .footer-links,
  .footer-social {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul,
  .footer-social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links li,
  .footer-social li {
    margin: 5px 0;
  }
  
  .footer-links a,
  .footer-social a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    color: #3498db;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
 
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-links ul,
    .footer-social ul {
      flex-direction: row;
      justify-content: center;
    }
  
    .footer-links li,
    .footer-social li {
      margin: 0 10px;
    }
  }
  